body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.site-content {
    flex: 1;
    padding: 20px;
}

hr {
    border-color: rgb(85, 85, 85);
    margin: 0;
}

.nav-container {
    width: 100%;
    background-color: rgb(85, 85, 85);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-links a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    font-size: 15px;
    text-decoration: wavy;
}

nav h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.hero {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1.5em;
    text-align: center;
    background-color: bisque;
}

.hero h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1.5em;
    font-size: 2em;
    padding: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #808080;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
    
.button:hover {
    background-color: #0056b3;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.gallery-item p {
    font-size: 14px;
    margin: 5px 0;
}

footer {
    color: #fff;
    text-align: center;
    background-color: rgb(85, 85, 85);
    padding: 20px;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 85, 85);
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer h3 {
    text-decoration: underline;
}

.footer-columns {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
}

.footer-column {
    flex: 1;
    padding: 0 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

ul li {
    margin-bottom: 10px;
    text-decoration: none;
}