/* Reset some default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes the full viewport height */
}

.site-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1; /* Allow site content to expand and take up remaining vertical space */
}

hr {
    border-color: rgb(85, 85, 85);
    margin: 0;
}

.nav-container {
    width: 100%;
    background-color: rgb(85, 85, 85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-links a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    font-size: 15px;
    text-decoration: none;
}

nav h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.hero {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: bisque;
    padding: 2em;
}

.hero h1 {
    font-size: 2em;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #808080;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.gallery-item p {
    font-size: 14px;
    margin: 5px 0;
}

footer {
    background-color: rgb(85, 85, 85);
    display: flex;
    align-items: center;
    justify-content: center; /* Center the footer content horizontally */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-columns {
    display: flex;
    align-items: center;
}

.footer-column {
    padding: 0 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}